<section id="log" *ngIf="flaglog">
  <div id="login">
    <h2>LogIn</h2>
    <input type="text" placeholder="Username" [(ngModel)]="login.username">
    <input type="text" placeholder="Password" [(ngModel)]="login.password">
    <button id="buttlog" (click)="LogIn()" (click)="RandomMonsterById()">Login</button>
  </div>
  <div id="register">
    <h2>SignIn</h2> 
    <input type="text" placeholder="Username" [(ngModel)]="signin.username">
    <input type="text" placeholder="Password" [(ngModel)]="signin.password">
    <button id="buttreg" (click)="SignIn()">Register</button>
  </div>
  <div id="h1"><div>Become a Hero and save the world by killing Monster</div></div>
</section>
<section id="classic" *ngIf="flagplayer">
  <div id="Combat">
    <div id="Terrain">
        <div id="lifeBar" *ngIf="flaglifebar"><div id="progressBar"></div></div>
        <div id="hp" *ngIf="flaglifebar">{{monster.name}} | {{hp}}/{{monster.getHp()}} | Level : {{player.level}}</div>
      <div id="Monster" (click)="hit(player.power)"></div>
    </div>
    <div id="team">
      <div id="Hero">
        <div id="statG"><div><h4>Gold</h4><p>{{player.getGold()}}</p></div></div>
        <div id="statP"><div><h4>Power</h4><p>{{player.getPower()}}</p></div></div>
      </div>
    </div>
  </div>
  <div id="Menu">
    <div id="pannel" >
      <div id="selected" *ngIf="display" [@flyInOut]="'in'">
        <app-menu [menuchoice]="menuchoice" [player]="player" [monster]="monster"></app-menu>
      </div>
    </div>
    <div id="sidemenu">
      <div id="side1" (click)="menuchoice='hero'" (click)="choiceMenu('hero')"><div>HERO</div></div>
      <div id="side2" (click)="menuchoice='team'" (click)="choiceMenu('team')"><div>TEAM</div></div>
      <div id="side3" (click)="menuchoice='object'" (click)="choiceMenu('object')"><div>OBJECT</div></div>
      <div id="side4" (click)="menuchoice='option'" (click)="choiceMenu('option')"><div>OPTION</div></div>
    </div>
  </div>
</section> 