#classic{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#Combat{
    color: white;
    text-align: center;
    width: 70%;
    background-color: black;
}
#Menu{
    width: 30%;
    background-color: red;
}
#Terrain{
    height: 70%;
    background-image: url("../../assets/terrain.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("../../assets/sword.png"), pointer;
}
#Monster{
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
#team{
    background-color: green;
    height: 30%;
}
#Hero{
    background-color: goldenrod;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#stat{
    width: 70%;
}
p{
    margin: 0;
}
#sidemenu{
    position: relative;
    z-index: 2;
    height: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#pannel{
    height: 70%;
    background-image: url("../../assets/cote.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sidemenu div{
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sidemenu div div{
    text-align: center;
    width: 50%;
    position: relative;
    top: 40%;
    left: 25%;
    background-color: rgba(255, 255, 255, 0.527)
}
#side1{
    background-image: url("../../assets/hero.jpg");
}
#side2{
    background-image: url("../../assets/team.jpg");
}
#side3{
    background-image: url("../../assets/shop.jpg");
}
#side4{
    background-image: url("../../assets/option.jpg");
}
#selected{
    position: relative;
    z-index: 1;
    background-image: url("../../assets/panel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.obj{
    border: 3px solid black;
    margin: 5px;
    background-color: whitesmoke;
}
.frnd{
    border: 3px solid black;
    margin: 5px;
    background-color: whitesmoke;
}
.buy{
    background-color: yellow;  
}
#log{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    background-image: url("../../assets/bcklog.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#login,#register{
    background-color: rgba(245, 245, 245, 0.836);
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    position: relative;
    top: 5%;
    text-align: center;
}

#login input,#register input{
    margin: 10px 10px;
}

#login button,#register button{
    height: 50px;
    background-color: whitesmoke;
    margin: 10px 10px;
}

#h1{
    width: 100%;
}
#h1 div{
    text-align: center;
    font-size: 2em;
    width: 50%;
    position: relative;
    left: 25%;
    background-color: rgba(245, 245, 245, 0.836); 
}
#lifeBar{
    width: 50%;
    height: 5%;
    border: 3px solid black;
    background-color: rgba(245, 245, 245, 0.836);
    position: relative;
    left: 24%;
}
#progressBar{
    background-color: red;
    height: 100%;
    
}
#hp{
    border: 3px solid black;
    color: black;
    background-color: rgba(245, 245, 245, 0.836); 
    position: relative;
    width: 50%;
    left: 24%;
}
#statG{
    background-image: url("../../assets/gold.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
#statP{
    background-image: url("../../assets/power.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

#statP div, #statG div{
    width: 50%;
    position: relative;
    left: 25%;
    top: 50%;
    color: black;
    background-color: rgba(245, 245, 245, 0.849);
}
.animate {
    transform: scale(0.9);
}
#heromenu{
    border: 3px solid black;

    background-color: whitesmoke;
}
#heromenu p{
    margin: 10px;
}