<div [ngSwitch]="menuchoice">
    <div *ngSwitchCase="'hero'">Hero
        {{player.username}}
        {{player.level}}
        {{player.exp}}
        {{player.gold}}
        {{player.power}}
    </div>
    <div *ngSwitchCase="'team'">
        Team
        <div *ngIf="flagteam">
            <div (click)="flagteam=!flagteam">X</div>
            {{actualfriend.name}}
        </div>
        <div *ngFor="let friend of myfriends" class="frnd" (click)="showFriend(friend.id)">
            {{friend.id}}
            <p *ngIf="friend.name">Name : {{friend.name}}</p>
            <p *ngIf="friend.cost">Cost : {{friend.cost}}</p>
            <p *ngIf="friend.power">Power : {{friend.power}}</p>
            <p *ngIf="friend.level">Level : {{friend.level}}</p>
        </div> 
        <div *ngFor="let friend of friends" class="frnd" (click)="showFriend(friend.id)">
            <p *ngIf="friend.name">Name : {{friend.name}}</p>
            <p *ngIf="friend.cost">Cost : {{friend.cost}}</p>
            <p *ngIf="friend.power">Power : {{friend.power}}</p>
        </div>
    </div>
    <div *ngSwitchCase="'object'">
        Object
        <div *ngIf="flagobj">
            <div (click)="flagobj=!flagobj">X</div>
            {{actualobject.name}}
        </div> 
        <div *ngFor="let objet of myobjects" class="obj" (click)="showObject(objet.id)">
            {{objet.id}}
            <p *ngIf="objet.name">Name : {{objet.name}}</p>
            <p *ngIf="objet.cost">Cost : {{objet.cost}}</p>
            <p *ngIf="objet.power">Power : {{objet.power}}</p>
            <p *ngIf="objet.level">Level : {{objet.level}}</p>
        </div>
        <div *ngFor="let objet of objects" class="obj" (click)="showObject(objet.id)">
            <p *ngIf="objet.name">Name : {{objet.name}}</p>
            <p *ngIf="objet.cost">Cost : {{objet.cost}}</p>
            <p *ngIf="objet.power">Power : {{objet.power}}</p>
        </div>
    </div>
    <div *ngSwitchCase="'option'">Option</div>
</div>